<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://png.pngtree.com/thumb_back/fh260/background/20230527/pngtree-landscape-wallpapers-image_2700406.jpg"
    />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
      <a routerLink="/place/home/home-detail">
        <ion-icon name="receipt-outline"></ion-icon>
      </a>
    </ion-card-content>
  </ion-card>
</ion-content>
